@charset "UTF-8";

@font-face {
  font-family: '210 청춘시대';
  font-style: normal;
  font-weight: normal; /* 400 */
  src: url("../fonts/210 청춘시대OTF R.otf") format('truetype')
}

@font-face {
  font-family: '210 청춘시대';
  font-style: normal;
  font-weight: bold; /* 700 */
  src: url("../fonts/210 청춘시대OTF B.otf") format('truetype')
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/NotoSansKR-Light.woff2") format('woff2'),
  url("../fonts/NotoSansKR-Light.woff") format('woff'),
  url("../fonts/NotoSansKR-Light.otf") format('truetype')
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: normal; /* 400 */
  src: url("../fonts/NotoSansKR-Regular.woff2") format('woff2'),
  url("../fonts/NotoSansKR-Regular.woff") format('woff'),
  url("../fonts/NotoSansKR-Regular.otf") format('truetype')
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/NotoSansKR-Medium.woff2") format('woff2'),
  url("../fonts/NotoSansKR-Medium.woff") format('woff'),
  url("../fonts/NotoSansKR-Medium.otf") format('truetype')
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: bold; /* 700 */
  src: url("../fonts/NotoSansKR-Bold.woff2") format('woff2'),
  url("../fonts/NotoSansKR-Bold.woff") format('woff'),
  url("../fonts/NotoSansKR-Bold.otf") format('truetype')
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/NotoSansKR-Black.woff2") format('woff2'),
  url("../fonts/NotoSansKR-Black.woff") format('woff'),
  url("../fonts/NotoSansKR-Black.otf") format('truetype')
}

html {
	scroll-behavior: smooth;
}

body {
	letter-spacing: -0.05rem;
	font-family: 'Noto Sans KR', sans-serif;
}

.located-at-bottom-of-header {
	margin-top: var(--header-height);
}

:root {
	/* signiture colors */
	--osstem-orange: rgb(242, 101, 34);
	--osstem-orange-dark: rgb(226, 93, 32);
	--osstem-gray: rgb(147, 147, 138);
	--pale-peach: #FBF7F2;
	--pale-peach-dark: #f0ebe6;

	/* font colors */
	--almost-black-gray: rgb(37, 40, 43);
	--dark-gray: rgb(84, 91, 98);
	--gray: rgb(108, 117, 125);
	--light-gray: rgb(166, 166, 166);
	--ligther-gray: rgb(191, 191, 191);
	
	/* font-families */
	--logo-text-font-family: '210 청춘시대', 'Noto Sans KR', sans-serif;

	/* background or border colors */
	--background-gray: rgb(250, 250, 250);
	--border-gray: rgb(238, 238, 238);
	--divider-gray: rgb(242, 242, 242);

	/* fixed spaces */
	--header-height: 4rem;
	--default-inner-space: 1rem;
	--deep-inner-space: 2rem;
	--icon-margin-right: 0.4rem;

	/* border styles */
	--card-border: 2px solid var(--border-gray);
}


/* Global styles - buttons */
.btn-large-solid {
	border: 2px solid var(--osstem-orange);
	background-color: var(--osstem-orange);
	border-radius: 3px;
	padding: 1rem;
	text-align: center;
	font-weight: 600;
	color: white;
	margin-bottom: 0.8rem;
}
.btn-large-solid:hover {
	color: white;
	background-color: var(--osstem-orange-dark);
}
.btn-large-hollow {
	border: 1.5px solid var(--osstem-orange);
	background-color: var(--pale-peach);
	border-radius: 3px;
	padding: 1rem;
	text-align: center;
	font-weight: 600;
	color: var(--osstem-orange);
	margin-bottom: 0.8rem;
}
.btn-large-hollow:hover {
	color: var(--osstem-orange);
	background-color: var(--pale-peach-dark);
}
.btn-large-hollow-white {
	border: var(--card-border);
	background-color: white;
	border-radius: 3px;
	padding: 1rem;
	text-align: center;
	font-weight: 600;
	color: var(--almost-black-gray);
	margin-bottom: 0.8rem;
}
.btn-large-hollow-white:hover {
	background-color: whitesmoke;
}
.login-btn,
.signup-btn {
	font-size: 1.2rem;
	font-weight: 700;
	padding: 0.8rem;
}
.btn-disabled,
.btn-disabled:hover {
	cursor: not-allowed;
	border-color: var(--osstem-gray);
	background-color: var(--osstem-gray);
}


/* Global styles - background colors */
.background-pale-peach {
	background-color: var(--pale-peach);
}
.background-gray {
	background-color: var(--background-gray);
}

/* Global styles - dividers */
.thick-divider {
	width: 100%;
	height: 0.5rem;
	background-color: var(--divider-gray);
}

/* Global styles - fonts */
.logo-text-black-sm {
	font-family: var(--logo-text-font-family);
	font-weight: normal;
	font-size: 1.4rem;
	color: black;
}
.logo-text-orange-lg {
	font-family: var(--logo-text-font-family);
	font-weight: normal;
	font-size: 2rem;
	color: var(--osstem-orange);
}
.logo-text-white-md {
	font-family: var(--logo-text-font-family);
	font-weight: normal;
	font-size: 1.8rem;
	color: white;
}
.page-title {
	font-size: 1.4rem;
	font-weight: 600;
	color: var(--almost-black-gray);
	margin: 3.5rem 0 2rem 0;
}
.error {
	color: red;
	font-size: 0.7rem;
}
.alert > strong {
	font-weight: 700;
	line-height: 1.6rem;
}
