/* medical history page CSS*/
.main {
	display: flex;
	flex-direction: column;
	padding: 0 var(--default-inner-space);
	background-color: var(--background-gray);
}

.page-title {
	font-size: 1.7rem;
	font-weight: 600;
	color: var(--dark-gray);
	margin: 3.5rem 0 2rem 0;
}

/* mouth */
.mouth-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 2rem;
}
.mouth { /* 잇몸, 치아 등 */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.mouth__upper-jaw {
	position: relative;
	margin-bottom: 3rem;
}
.upper-jaw__upper-gum {
}
.upper-jaw__upper-gum > img{
	width: 100%;
	filter: drop-shadow(.1rem .1rem .3rem rgba(0, 0, 0, 0.5));
}
.upper-jaw__upper-teeth {
}
.upper-jaw__upper-teeth > img{ /* tooth */
	cursor: pointer;
	position: absolute;
	filter: drop-shadow(.0rem .1rem .3rem rgba(0, 0, 0, 0.5))
					hue-rotate(119deg);
	
	/* for testing */
	/* background-color: rgba(0, 0, 0, 0.5); */
  /* opacity: 0.0; */
}
.marked-teeth {
	filter: drop-shadow(0 0 0.5rem var(--osstem-orange)) !important;
	width: 110%;
}
.upper-jaw__upper-teeth > img:hover{
	margin-top: -0.1rem;
}
.mouth__lower-jaw{
}
.lower-jaw__lower-gum{
}
.lower-jaw__lower-gum > img{
	width: 100%;
	filter: drop-shadow(.1rem .1rem .3rem rgba(0, 0, 0, 0.5));
}
.lower-jaw__lower-teeth{
}


/* treatment description section */
.treatment-desc-section {
	border: var(--card-border);
	border-radius: .5rem;
	background-color: white;
	display: flex;
	flex-direction: column;
	padding: 2rem 0.6rem;
	margin-bottom: 3rem;
}
.desc-item {
	margin-bottom: 2.5rem;
}
.desc-item__title {
	font-size: 1.2rem;
	color: var(--gray);
	font-weight: 600;
	margin-bottom: 1rem;
}
.desc-item__content {
	font-size: 1.2rem;
	color: var(--almost-black-gray);
	font-weight: 600;
	margin-bottom: 0.3rem;
}
.before-imgs-wrapper {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
}
.after-imgs-wrapper {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
}
.content__img {
	border: var(--card-border);
	width: 100%;
	margin-bottom: 0.3rem;
}

.btn-large-solid {
	border: 1.5px solid var(--osstem-orange);
	background-color: var(--osstem-orange);
	border-radius: 3px;
	padding: 1rem;
	text-align: center;
	font-weight: 600;
	color: white;
	margin-bottom: 0.8rem;
}
.btn-large-solid:hover {
	color: white;
	background-color: var(--osstem-orange-dark);
}
.btn-large-hollow {
	border: 1.5px solid var(--osstem-orange);
	background-color: var(--pale-peach);
	border-radius: 3px;
	padding: 1rem;
	text-align: center;
	font-weight: 600;
	color: var(--osstem-orange);
	margin-bottom: 0.8rem;
}
.btn-large-hollow:hover {
	color: var(--osstem-orange);
	background-color: var(--pale-peach-dark);
}

:root {
	/* signiture colors */
	--osstem-orange: rgb(242, 101, 34);
	--osstem-orange-dark: rgb(226, 93, 32);
	--osstem-gray: rgb(147, 147, 138);
	--pale-peach: #FBF7F2;
	--pale-peach-dark: #f0ebe6;

	/* font colors */
	--almost-black-gray: rgb(37, 40, 43);
	--dark-gray: rgb(84, 91, 98);
	--gray: rgb(108, 117, 125);
	--light-gray: rgb(166, 166, 166);
	--ligther-gray: rgb(191, 191, 191);

	/* background colors */
	--background-gray: rgb(250, 250, 250);
	--border-gray: rgb(238, 238, 238);
	--background-divider-gray: rgb(242, 242, 242);
	--card-border: 2px solid var(--border-gray);

	/* paddings */
	--default-inner-space: 1rem;
}