/* 치료 내역 모아보기 details page CSS*/
.main {
	display: flex;
	flex-direction: column;
	padding: 0 var(--default-inner-space);
	background-color: var(--background-gray);
}

/* mouth */
.mouth-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 2rem;
}
.mouth { /* 잇몸, 치아 등 */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.mouth__upper-jaw {
	position: relative;
	margin-bottom: 3rem;
}
.mouth__lower-jaw{
	position: relative;
}
.upper-jaw__upper-gum {
}
.lower-jaw__lower-gum{
}
.upper-jaw__upper-gum > img,
.lower-jaw__lower-gum > img { /* gum */
	width: 100%;
	filter: drop-shadow(.1rem .1rem .3rem rgba(0, 0, 0, 0.5));
}
.upper-jaw__upper-teeth {
}
.lower-jaw__lower-teeth{
}
.upper-jaw__upper-teeth > .tooth,
.lower-jaw__lower-teeth > .tooth { /* tooth */
	cursor: pointer;
	position: absolute;
	filter: drop-shadow(.0rem .1rem .3rem rgba(0, 0, 0, 0.5))
					hue-rotate(119deg);
	
	/* for testing */
	/* background-color: rgba(0, 0, 0, 0.5); */
  /* opacity: 0.0; */
}
.marked-tooth {
	filter: drop-shadow(.0rem .1rem .3rem rgba(0, 0, 0, 0.5))
					hue-rotate(0deg) !important;
}
.upper-jaw__upper-teeth > .tooth:hover,
.lower-jaw__lower-teeth > .tooth:hover {
	margin-top: -0.1rem;
}

/* treatment description section */
.treatment-desc-section {
	border: var(--card-border);
	border-radius: .5rem;
	background-color: white;
	display: flex;
	flex-direction: column;
	padding: 2rem 0.6rem;
	margin-bottom: 3rem;
}
.desc-item {
	margin-bottom: 2.5rem;
}
.desc-item__title {
	font-size: 1.2rem;
	color: var(--gray);
	font-weight: 600;
	margin-bottom: 1rem;
}
.desc-item__content {
	font-size: 1.2rem;
	color: var(--almost-black-gray);
	font-weight: 600;
	margin-bottom: 0.3rem;
}
.before-imgs-wrapper {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
}
.after-imgs-wrapper {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
}
.content__img {
	border: var(--card-border);
	width: 100%;
	margin-bottom: 0.3rem;
}
