/*
**빈 목록 컴포넌트 사용 가이드**
작성자: 공희재

아래 템플릿 예시를 참고해 사용하면 됩니다.

<div class="empty-block">
	<img src="${pageContext.request.contextPath}/resources/images/toothCharacter/looking-with-a-magnifying-glass.png" alt="looking-with-a-magnifying-glass">
	<p class="text">
		검색된 치과가 없어요.
	</p>
</div>
*/
.empty-block {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 4rem 0;
}
.empty-block img {
	width: 5rem;
	margin-bottom: 1rem;
}
.empty-block .text {
	color: var(--lighter-gray);
	text-align: center;
	font-size: 1.2rem;
	font-weight: 500;
	line-height: 1.4;
}
