/* 페이지네이션 컴포넌트 */
.pagination-component {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 1.2rem;
}
.pagination-btn {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 2.5rem;
	min-height: 2.5rem;
	border-radius: 5px;
	color: var(--gray);
	font-size: 1.1rem;
}
.pagination-btn:hover {
	background-color: var(--divider-gray);
}
.pagination-btn-current,
.pagination-btn-current:hover {
	color: white;
	background-color: var(--osstem-orange);
	font-weight: 500;
}
