/* 마이페이지: 내 치과 화면 */
.main {
	display: flex;
	flex-direction: column;
}

/* '내 치과 목록' 블록 */
.my-dentists-list-block {
	padding: 0 var(--default-inner-space) var(--deep-inner-space);
}
/* 치과 리스트아이템 컴포넌트 - 메인 바디 */
.dentist-list-item {
	position: relative;
	display: flex;
	flex-direction: column;
	margin-bottom: 0.3rem;
}
.dentist-list-item__main-body {
	border: var(--card-border);
	border-radius: 7px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.8rem;
}
.dentist-list-item__main-body:hover {
	cursor: pointer;
	background-color: var(--pale-peach);
	box-shadow: var(--basic-shadow);
}
.main-body__col {
	display: flex;
}
.main-body__img-box {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--divider-gray);
	min-width: 3.7rem;
	min-height: 3.7rem;
	width: 3.7rem;
	height: 3.7rem;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 0.8rem;
	box-shadow: 0px 0px 5px 1px rgb(0 0 0 / 20%);
}
.main-body__img-box > img {
	object-fit: cover;
	width: 100%;
}
.main-body__nametag {
	display: flex;
	flex-direction: column;
}
.main-body__nametag > .name {
	display: flex;
	align-items: center;
	color: var(--osstem-orange);
	font-size: 1.5rem;
	font-weight: 500;
	margin-top: 0.2rem;
	margin-bottom: 0.3rem;
}
.main-body__nametag .subtitle {
	display: inline-block;
	color: var(--dark-gray);
	font-size: 0.9rem;
	margin-left: 0.4rem;
}
.main-body__nametag .subtitle > i {
	margin-right: 0.1rem;
}
.main-body__nametag > .address {
	font-size: 1.2rem;
	color: var(--dark-gray);
}
.name.overflow-ellipsis {
	width: 12rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.address.overflow-ellipsis {
	width: 12.5rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.dropdown-btn {
	color: var(--dark-gray);
	margin-right: 0.8rem;
}
/* 치과 리스트아이템 컴포넌트 - 드롭다운 목록 */
.dentist-list-item__dropdown-menu-list {
	position: absolute;
	top: 100%;
	right: 0;
	display: flex;
	flex-direction: column;
	border: var(--card-border);
	border-radius: 7px;
	width: 100%;
	background-color: white;
	z-index: 1;
}
.dentist-list-item__dropdown-menu-list .menu-btn {
	padding: 1.2rem var(--deep-inner-space);
	color: var(--dark-gray);
	font-size: 1.2rem;
	font-weight: 500;
}
.dentist-list-item__dropdown-menu-list .menu-btn:hover {
	cursor: pointer;
	background-color: var(--pale-peach);
}
.menu-btn-disabled {
	cursor: not-allowed !important;
	background-color: var(--divider-gray);
	color: var(--light-gray) !important;
}
.menu-btn-disabled:hover {
	background-color: var(--divider-gray) !important;
	color: var(--light-gray);
}


/* '추가하기' 블록 */
.add-dentist-block {
	display: flex;
	flex-direction: column;
	padding: var(--deep-inner-space) var(--default-inner-space);
}
.section-title-sm {
	color: var(--almost-black-gray);
	font-size: 1rem;
	font-weight: 500;
	margin-bottom: 0.6rem;
}
